<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348579588742-idrk83b7m1alg9922m9fgkuip13cjd1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348579588742-idrk83b7m1alg9922m9fgkuip13cjd1o</string>
	<key>API_KEY</key>
	<string>AIzaSyAdu85QK3SvcA1uRF-fPaty4NoVrRy_2oo</string>
	<key>GCM_SENDER_ID</key>
	<string>348579588742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ds.movieoftheday</string>
	<key>PROJECT_ID</key>
	<string>movieoftheday-a8edd</string>
	<key>STORAGE_BUCKET</key>
	<string>movieoftheday-a8edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348579588742:ios:b61d6cbb9fec3bc6c5ff07</string>
</dict>
</plist>